* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: #fff;
}

header {
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.timer {
    justify-content: flex-end;
    font-weight: bold;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

p {
    text-align: center;
}

.hide {
    display: none;
}

#answer-btn {
    margin: 4px;
}

.question {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px;
}

li {
    font-weight: bold;
}


/* button {
    border: none;
} */

/* .start-button {
    border: 1px solid #000000;
    padding: 15px 25px;
    background-color: purple;
    color: #fff;
    font-weight: bolder;
    font-size: large;
    border-radius: 75%;
}

.start-button:hover {
    background-color: rgb(19, 19, 124);
} */

.high-score-title {
    justify-content: center;
    font-weight: bold;
    margin-top: 50px;
    font-size: x-large;
}

